body {
  font-family: $primary-font;
  font-size: $primary-font-size;
  line-height: $primary-line-height;

  color: $primary-font-color;
  background-color: $primary-light-bgc;

  &.dark-mode {
    background-color: $primary-dark-bgc;
  }
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;

  background-color: transparent;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.icon {
  display: block;

  fill: currentColor;
}
