.localization {
  display: flex;
  flex-direction: column;
  flex-flow: column-reverse;
  align-items: center;
  gap: 12px;

  margin-bottom: 28px;

  &__current-lang {
    position: relative;

    display: flex;
    align-items: center;
    gap: 12px;

    padding: 12px 24px;

    line-height: 1.2;

    color: $accent-font-color;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &--hidden {
      opacity: 0;
      pointer-events: none;
    }
  }

  &__item {
    padding: 12px 24px;

    border: 1px solid $current-item-bgc;
    border-radius: 5px;

    color: $secondary-font-color;
    background-color: $current-item-bgc;

    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__button {
    display: flex;
    align-items: center;
    gap: 10px;

    line-height: 1.2;

    color: $secondary-font-color;

    @media (hover: hover) {
      &:hover {
        color: $accent-font-color;
      }
    }
  }

  &__wrapper {
    margin-top: auto;
  }
}
