.localization {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  &__item {
    line-height: 1.2;

    color: $secondary-font-color;

    &--current {
      color: $accent-font-color;

      order: 1;
    }
  }
}
