//fonts
$primary-font: 'Gotham Pro', san-serif;
$primary-title-font: 'Gotham Pro Black', san-serif;
$primary-font-size: 14px;
$primary-line-height: 1.4;
$primary-font-color: rgba(255, 251, 239, 0.4);
$secondary-font-color: rgba(255, 251, 239, 0.6);
$accent-font-color: #fffbef;

//colors
$primary-light-bgc: #f0f0f0;
$primary-dark-bgc: #070714;
$primary-button-bgc: #097aff;
$secondary-button-bgc: #ffab09;
$primary-button-color: #fffbef;
$secondary-button-color: #232323;
